@model IEnumerable<Core.Logger.LoggerLoginItem>

<div>
    <pre>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model.OrderByDescending(x => x.Date))
            {
<code>[@item.Date]    @item.UserName     @(item.OperationName)(@item.Browser-@item.BrowserVer)</code>
<br>
            }
        }
        else
        {
            @Resource.EmptyEntry
            <br>
        }
    </pre>
</div>
