.AttendanceUL, .AttendanceItem {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}
li.AttendanceItem {
    padding: 10px 0 10px 0;
}

li.AttendanceItem:not(:first-child) {
    border-top: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color-translucent) !important;
}

.AttendanceNameGroup, .AttendanceItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    justify-items: stretch;
    align-items: center;
    font-size: 15px;
}
    .AttendanceNameGroup{
        justify-content: space-between;
    }

.AttendanceItem .BtnContainer {
    text-align: end;
}

.BtnContainer .btn {
    padding:8px;
}

input.StudentCheckbox{
    display:none;
}
input.StudentCheckbox:not(:checked) + label {
    background: transparent;
}

input.StudentCheckbox:checked + label {
    color: var(--tblr-primary);
    background: rgba(var(--tblr-primary-rgb),.04);
    border-color: var(--tblr-primary);
}
.form-selectgroup-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
}

.card-body:has(#Attendance) {
    overflow-y: hidden;
}

#Attendance .container-xl {
    padding: 0;
    overflow-y: auto;
    max-height: 30vh;
    height: 28.5vh;
}

