.AttendanceUL, .AttendanceItem {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}
li.AttendanceItem {
    padding: 10px 0 10px 0;
}

li.AttendanceItem:not(:first-child) {
    border-top: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color-translucent) !important;
}

.AttendanceNameGroup, .AttendanceItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    justify-items: stretch;
    align-items: center;
    font-size: 15px;
}
    .AttendanceNameGroup{
        justify-content: space-between;
    }

.AttendanceItem .BtnContainer {
    text-align: end;
}

.BtnContainer .btn {
    padding:8px;
}

