html {
  font-size: 14px;
}

:root {
    --select2-height: 38px;
}


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow: hidden;
}

/*.vw100{
    width: 100vw;
}*/

/*.page-wrapper {
    padding: 0rem 2.5rem 0rem 2.5rem !important;
}*/
/**/
/*a
{
    color: none !important;
}*/
form#culture-switcher {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
}
    form#culture-switcher > .culture-switcher {
        font-size: 12px;
        text-align: start;
        width: 90%;
    }

/*.TabUser{
float: right;
}*/

/*.navbar-collapse.collapse {
    margin-left: 30px;
}*/

.d-none.d-md-flex {
    margin-right: 30px;
}




/*@media (min-width: 1265px) {
    .double-navbar {
        max-width: max-content !important;
        margin: 0 auto;
        top: -57px;
        position: relative;
    }
}*/



    /*@media not print {
    @media (prefers-color-scheme: dark) {
        .theme-dark-auto .navbar {
            --tblr-navbar-border-color: #243049;
            --tblr-navbar-bg: #1d273b;
        }
    }
}
.navbar-collapse, .collapse, .show {
    --tblr-navbar-bg: #1d273b;
    position: absolute;
    top: 50px;
    background: var(--tblr-navbar-bg);
    )
}*/



a{
    cursor: pointer !important;
}

    a:hover{
        /*text-decoration: underline !important;*/
    }

    .EmtyResultTd {
        text-align: center;
    }

/*---Настройка Select2 выпадающего списка----*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: var(--select2-height) !important;
}
.select2-container--default, .select2-selection__rendered, .select2-selection.select2-selection--single, .select2-selection--single, .select2-selection--multiple, .select2-selection__arrow {
    height: var(--select2-height) !important;
    
}
    .select2-container--default .select2-search--dropdown .select2-search__field{
        border-radius:4px;
    }
    .select2-container--default .select2-selection--single .select2-selection__clear {
        height: -webkit-fill-available !important;
    }

.TheadSticky {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #d9dee3;
    z-index: 1;
}

    .TheadSticky > tr {
        border-top-width: 0px !important;
    }

/*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}*/


.clr-field button {
    width: 1.5rem;
    height: 1.5rem;
    left: 6px;
    right: auto;
    border-radius: var(--tblr-border-radius);
}

.clr-field input {
    padding-left: 2.5rem;
    margin: 0;
    direction: ltr;
}

.UserNameDiv:hover{
    text-decoration:underline;
}


#contextMenu {
    display: none;
    position: absolute;
    min-width: max-content;
}

    #contextMenu .dropdown-menu{
        display: block;
    }

ul.contextMenu, li.dropdown-item, .dropdown-item {
    min-width: max-content;
}
    .contextMenu,
    .contextMenu ul {
        list-style-type: none;
    }



.AbenementTBody td:first-child{
    text-indent: 10%;
}