html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow: hidden;
}

.vw100{
    width: 100vw;
}

container {
    padding: 0rem 2.5rem 0rem 2.5rem !important;
}

a
{
    color: none !important;
}
form#culture-switcher {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
}
    form#culture-switcher > .culture-switcher {
        font-size: 12px;
        text-align: start;
        width: 90%;
    }