<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    @Resource.Attendance
                </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    @* <a onclick="OnGetModalEdit()" class="btn btn-primary d-none d-sm-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    @Resource.CreateGroup
                    </a> *@
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-xl mt-3">
    <div>
        @await Html.PartialAsync("CalendarView")
    </div>
</div>




<script>
    function onDefaultCalendarClick(Date) {

    }
</script>