
#PermissionCode:valid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}

#PermissionCode:invalid {
    border-color: #e6381a;
    color: #e6381a;
    box-shadow: none;
}

#PermissionCode:focus:valid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}

#PermissionCode:focus:invalid {
    border-color: #e6381a;
    color: #e6381a;
    box-shadow: none;
}

#PermissionCode:focus:required:valid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}

#PermissionCode:focus:required:invalid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}

#PermissionName:valid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}

#PermissionName:invalid {
    border-color: #e6381a;
    color: #e6381a;
    box-shadow: none;
}

#PermissionName:focus:valid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}

#PermissionName:focus:invalid {
    border-color: #e6381a;
    color: #e6381a;
    box-shadow: none;
}

#PermissionName:focus:required:valid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}

#PermissionName:focus:required:invalid {
    border-color: #66c732;
    color: #66c732;
    box-shadow: none;
}


.card-body.leftPart {
    padding: 20px 0 20px 0;
}

.list-group {
    overflow-y: auto;
    max-height: 60vh;
    margin: 1rem 1rem;
    padding: 0rem 0.5rem;
    margin-bottom: 1rem !important;
}
.accessBtn{
    margin-left:10px;
    min-width: 24px;
    width: 24px;
    min-height: 24px;
    height: 24px;
    font-size:14px;
}
.GroupNameAccess {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}